<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sptwin.xy.mapper.CurrencyMapper" >
  <resultMap id="BaseResultMap" type="com.sptwin.xy.entity.Currency" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="currency_no" property="currencyNo" jdbcType="VARCHAR" />
    <result column="currency_name" property="currencyName" jdbcType="VARCHAR" />
    <result column="exchange_rate" property="exchangeRate" jdbcType="DECIMAL" />
    <result column="modify_date_time" property="modifyDateTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, currency_no, currency_name, exchange_rate, modify_date_time, user_id, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_currency
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_currency
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sptwin.xy.entity.Currency" >
    insert into t_currency (id, currency_no, currency_name, 
      exchange_rate, modify_date_time, user_id, 
      status)
    values (#{id,jdbcType=BIGINT}, #{currencyNo,jdbcType=VARCHAR}, #{currencyName,jdbcType=VARCHAR}, 
      #{exchangeRate,jdbcType=DECIMAL}, #{modifyDateTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sptwin.xy.entity.Currency" >
    insert into t_currency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="currencyNo != null" >
        currency_no,
      </if>
      <if test="currencyName != null" >
        currency_name,
      </if>
      <if test="exchangeRate != null" >
        exchange_rate,
      </if>
      <if test="modifyDateTime != null" >
        modify_date_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="currencyNo != null" >
        #{currencyNo,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null" >
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null" >
        #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="modifyDateTime != null" >
        #{modifyDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sptwin.xy.entity.Currency" >
    update t_currency
    <set >
      <if test="currencyNo != null" >
        currency_no = #{currencyNo,jdbcType=VARCHAR},
      </if>
      <if test="currencyName != null" >
        currency_name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="exchangeRate != null" >
        exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      </if>
      <if test="modifyDateTime != null" >
        modify_date_time = #{modifyDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sptwin.xy.entity.Currency" >
    update t_currency
    set currency_no = #{currencyNo,jdbcType=VARCHAR},
      currency_name = #{currencyName,jdbcType=VARCHAR},
      exchange_rate = #{exchangeRate,jdbcType=DECIMAL},
      modify_date_time = #{modifyDateTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>